<a href="https://colab.research.google.com/github/carol1334168/Computational-Thinking-and-Programming-Design/blob/master/week14_a108260029_%E7%8E%8B%E7%92%BD%E5%AA%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
answer = "b246"

while True:
  password = input("Enter your password?")
  if password == answer:
      print("ENTER THE SYSTEM")
      break
  else:
      print("Try Again")

Enter your password?b246
ENTER THE SYSTEM

In [5]:
answer = "b123"

while True:
  account = input("Enter your account?")
  password = input("Enter your password?")
  if account == answer:
      print("ENTER THE SYSTEM")
      break
  else:
      print("Try Again")

Enter your account?b123
Enter your password?b123
ENTER THE SYSTEM

In [6]:
password = "a123456"
times = 0

while times <= 3:
    answer = input("Enter Your Password:")
    if answer == password:
        print("ENTER THE SYSTEM")
        break
    else:
        time = times+1
        chance=3-times
        print("password is wrong!and",chance,"second chances")

Enter Your Password:a123456
ENTER THE SYSTEM

In [7]:
range(5)

range(2,5)

range(2,10,3)

range(2, 10, 3)

In [9]:
for i in range(5):
    print(i)

for i in range(2,5):
    print(i)

for i in range(2,10,3):
    print(i)

0
1
2
3
4
2
3
4
2
5
8

In [10]:
start = int(input("Enter a number?"))
end = int(input("enter a number?"))
step = int(input("enter a number?"))

sum=0

for i in range(start,end,step):
    sum = sum+1
    print("i is",i,"sum equals",sum)

Enter a number?3
enter a number?13
enter a number?3
i is 3 sum equals 1
i is 6 sum equals 2
i is 9 sum equals 3
i is 12 sum equals 4